.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid transparent;
  transition: border 0.5s var(--easing);
  backdrop-filter: blur(0);
}

.header:before {
  opacity: 0;
  transition: opacity 0.5s var(--easing);
}

.header.sticky {
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--border-color);
}

.header.sticky:before {
  opacity: 0.6;
}

.inner {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.navWrap {
  flex: 1;
  display: flex;
  align-items: center;
}

.social {
  display: flex;
  justify-content: flex-end;
}

.iconLink {
  display: grid;
  place-items: center;
}

.iconLink svg {
  transition: none;
}

.iconLink:hover svg {
  fill: var(--shifting-shade-40);
}

@media all and (max-width: 30rem) {
  .navWrap,
  .logoWrap,
  .social {
    grid-row: 1;
  }

  .navWrap {
    grid-column: 2;
  }

  .logoWrap {
    grid-column: 1;
  }

  .social {
    grid-column: 3;
  }
}