.tags {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xs) var(--spacing-s);
}

.tag {
  font-size: var(--text-s);
}