.postTile {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  padding-top: var(--spacing-xl);
}

.imageContainer,
.content {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-s);
  max-width: var(--content-width)
}

.tagsWrap {
  width: 100%;
}

.summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-m);
}

.summaryHeading {
  font-size: var(--text-xl);
  font-weight: 900;
  font-style: italic;
  line-height: 1.2;
  width: 100%;
}

@media all and (min-width: 50rem) {
  .postTile {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(16, 1fr);
    align-items: initial;
    gap: 0;
  }
  
  .imageContainer,
  .content {
    grid-row: 1;
  }
  
  .imageContainer {
    grid-column: 1/10;
    aspect-ratio: 3/2;
  }

  .content {
    grid-column: 11/-1;
  }
  
  .postTile:nth-of-type(2n) .imageContainer {
    grid-column: 8/-1;
  }
  
  .postTile:nth-of-type(2n) .content {
    grid-column: 1/7;
  }
}