.hero {
  background-color: var(--shifting-shade-60);
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 66.6666%;
}

@supports (aspect-ratio: 3/2) {
  .hero {
    aspect-ratio: 3/2;
    padding-bottom: 0;
  }
}

.heroLink:hover .hero:before {
  --glow-color: var(--brand-1);
}

.hero:before {
  --glow-color: var(--shifting-shade-50);

  content: "";
  background-color: var(--shifting-shade-20);
  background-image: radial-gradient(circle at bottom, var(--glow-color), transparent);
  border-radius: var(--radius-xs);
  position: absolute;
  top: calc(var(--spacing-xl) * -1);
  right: calc(var(--spacing-xxl) * -1);
  bottom: 0;
  left: calc(var(--spacing-xxl) * -1);
  z-index: -1;
}