.body {
  display: grid;
  gap: var(--spacing-m);
}

.body > p > img {
  display: block;
  width: 100%;
}

.body > p {
  font-size: var(--text-m);
  line-height: 1.7;
}

.body > p > a {
  font-weight: 900;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.body > p > a:hover {
  color: var(--shade-40);
  text-decoration-color: var(--brand-1);
}

.body > p > code {
  font-size: var(--text-xs);
  padding: var(--spacing-xs);
  background-color: var(--shifting-shade-20);
  border-radius: var(--radius-xs);
  vertical-align: middle;
  white-space: nowrap;
}

.imageWrap {
  margin-top: var(--spacing-s);
  margin-bottom: var(--spacing-s);
}

.body > * + :is(h1, h2, h3, h4, h5, h6) {
  margin-top: var(--spacing-m);
}