.list {
  display: grid;
  gap: var(--spacing-l);
}

.post {
  display: grid;
  grid-template-columns: 25% 1fr;
  gap: var(--spacing-m);
  position: relative;
}

.post:hover {
  text-decoration: none;
}

.imageWrap {
  flex-shrink: 0;
  border-radius: var(--radius-s);
  overflow: hidden;
  border: 2px solid var(--shifting-shade-20);
}

.post:hover .imageWrap {
  border-color: var(--brand-1);
}

.summary {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-s);
}

.heading {
  font-size: var(--text-l);
  font-weight: 900;
  font-style: italic;
  line-height: 1.2;
  width: 100%;
}

.post:hover .heading {
  text-decoration: underline;
}