.list {
  display: grid;
  gap: var(--spacing-l);
}

.post {
  display: grid;
  grid-template-columns: clamp(5rem, 25%, 10rem) auto;
  gap: var(--spacing-m);
  position: relative;
}

.post:hover {
  text-decoration: none;
}

.imageWrap {
  border-radius: var(--radius-s);
  overflow: hidden;
  border: 2px solid var(--shifting-shade-20);
}

.post:hover .imageWrap {
  border-color: var(--brand-1);
}

.summary {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--spacing-s);
  padding-top: var(--spacing-s);
}

.heading {
  font-size: var(--text-l);
  font-weight: 900;
  font-style: italic;
  line-height: 1.2;
  width: 100%;
}

.post:hover .heading {
  text-decoration: underline;
}