.nav {
  display: flex;
  align-items: center;
  gap: var(--spacing-m);
  height: 100%;
}

.link {
  font-size: var(--text-s);
  display: grid;
  align-items: center;
  gap: var(--spacing-xs);
  font-weight: 300;
  position: relative;
  height: 100%;
  padding: var(--spacing-s) 0;
}

.link:hover {
  color: var(--shifting-shade-90);
  text-decoration: none;
}

.link:after {
  --line-size: 3px;

  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--line-size);
  background-color: var(--shifting-shade-40);
  border-radius: var(--radius-xs);
  opacity: 0;
  transform: translateY(calc(var(--spacing-xs) * -1))
}

.link:hover:after,
.active:after {
  opacity: 1;
}

.active:after {
  background-color: var(--brand-1);
}

@media all and (max-width: 25rem) {
  .nav {
    gap: var(--spacing-s);
  } 
}