:root {
  --base-font-size: clamp(0.8125rem, 0.25rem + 1vw, 1rem);

  --spacing-base: 1rem;
  --spacing-xxs: calc(var(--spacing-base) / 3);
  --spacing-xs: calc(var(--spacing-base) / 2);
  --spacing-s: var(--spacing-base);
  --spacing-m: calc(var(--spacing-base) * 2);
  --spacing-l: calc(var(--spacing-base) * 3);
  --spacing-xl: calc(var(--spacing-base) * 5);
  --spacing-xxl: calc(var(--spacing-base) * 8);

  --radius-xxs: 0.15rem;
  --radius-xs: var(--spacing-xxs);
  --radius-s: var(--spacing-xs);
  --radius-m: var(--spacing-s);
  --radius-rounded: var(--spacing-xl);

  --text-xxs: 0.8rem;
  --text-xs: 1.1rem;
  --text-s: 1.3rem;
  --text-m: 1.6rem;
  --text-l: 2rem;
  --text-xl: 2.5rem;
  --text-xxl: 3.2rem;

  --color-base: 200;
  --saturation-base: 5%;

  --shade-0:  hsla(var(--color-base), 0%, 100%, 100%);
  --shade-10:  hsla(var(--color-base), calc(var(--saturation-base) * 1), 90%, 100%);
  --shade-20:  hsla(var(--color-base), calc(var(--saturation-base) * 2), 80%, 100%);
  --shade-30:  hsla(var(--color-base), calc(var(--saturation-base) * 3), 70%, 100%);
  --shade-40:  hsla(var(--color-base), calc(var(--saturation-base) * 4), 60%, 100%);
  --shade-50:  hsla(var(--color-base), calc(var(--saturation-base) * 5), 50%, 100%);
  --shade-60:  hsla(var(--color-base), calc(var(--saturation-base) * 6), 40%, 100%);
  --shade-70:  hsla(var(--color-base), calc(var(--saturation-base) * 7), 30%, 100%);
  --shade-80:  hsla(var(--color-base), calc(var(--saturation-base) * 8), 20%, 100%);
  --shade-90:  hsla(var(--color-base), calc(var(--saturation-base) * 9), 10%, 100%);
  --shade-100:  hsla(var(--color-base), 100%, 0, 100%);

  --shifting-shade-0:  var(--shade-0);
  --shifting-shade-10:  var(--shade-10);
  --shifting-shade-20:  var(--shade-20);
  --shifting-shade-30:  var(--shade-30);
  --shifting-shade-40:  var(--shade-40);
  --shifting-shade-50:  var(--shade-50);
  --shifting-shade-60:  var(--shade-60);
  --shifting-shade-70:  var(--shade-70);
  --shifting-shade-80:  var(--shade-80);
  --shifting-shade-90:  var(--shade-90);
  --shifting-shade-100:  var(--shade-100);

  --brand-1: hsl(164, 100%, 45%);

  --good: #50d38d;
  --warn: #fdc300;
  --bad: #f60d21;

  --text-color: var(--shifting-shade-90);
  --text-color-alt: var(--shifting-shade-10);

  --background: var(--shifting-shade-10);
  --background-alt: var(--shifting-shade-90);

  --border-color: var(--shifting-shade-20);

  --site-gutter: var(--spacing-m);

  --site-width: calc(72rem + (var(--site-gutter) * 2));
  --content-width: calc(50rem + (var(--site-gutter) * 2));
  --para-width: calc(42rem + (var(--site-gutter) * 2));

  --header-height: 5rem;

  --easing: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand-1: hsl(164, 100%, 50%);

    --shifting-shade-0:  hsla(var(--color-base), 100%, 0, 100%);
    --shifting-shade-10:  hsla(var(--color-base), calc(var(--saturation-base) * 9), 10%, 100%);
    --shifting-shade-20:  hsla(var(--color-base), calc(var(--saturation-base) * 8), 20%, 100%);
    --shifting-shade-30:  hsla(var(--color-base), calc(var(--saturation-base) * 7), 30%, 100%);
    --shifting-shade-40:  hsla(var(--color-base), calc(var(--saturation-base) * 6), 40%, 100%);
    --shifting-shade-60:  hsla(var(--color-base), calc(var(--saturation-base) * 4), 60%, 100%);
    --shifting-shade-70:  hsla(var(--color-base), calc(var(--saturation-base) * 3), 70%, 100%);
    --shifting-shade-80:  hsla(var(--color-base), calc(var(--saturation-base) * 2), 80%, 100%);
    --shifting-shade-90:  hsla(var(--color-base), calc(var(--saturation-base) * 1), 90%, 100%);
    --shifting-shade-100:  hsla(var(--color-base), 0%, 100%, 100%);
  }
}