:root {
  --base-font-size: clamp(0.8125rem, 0.25rem + 1vw, 1rem);

  --spacing-base: 1rem;
  --spacing-xxs: calc(var(--spacing-base) / 3);
  --spacing-xs: calc(var(--spacing-base) / 2);
  --spacing-s: var(--spacing-base);
  --spacing-m: calc(var(--spacing-base) * 2);
  --spacing-l: calc(var(--spacing-base) * 3);
  --spacing-xl: calc(var(--spacing-base) * 5);
  --spacing-xxl: calc(var(--spacing-base) * 8);

  --radius-xxs: 0.15rem;
  --radius-xs: var(--spacing-xxs);
  --radius-s: var(--spacing-xs);
  --radius-m: var(--spacing-s);
  --radius-rounded: var(--spacing-xl);

  --text-xxs: 0.8rem;
  --text-xs: 1.1rem;
  --text-s: 1.3rem;
  --text-m: 1.6rem;
  --text-l: 2rem;
  --text-xl: 2.5rem;
  --text-xxl: 3.2rem;

  --base-color: 200;
  --base-saturation: 5%;

  --shade-0-hsl: var(--base-color), 0%, 100%;
  --shade-10-hsl: var(--base-color), calc(var(--base-saturation) * 1), 90%;
  --shade-20-hsl: var(--base-color), calc(var(--base-saturation) * 2), 80%;
  --shade-30-hsl: var(--base-color), calc(var(--base-saturation) * 3), 70%;
  --shade-40-hsl: var(--base-color), calc(var(--base-saturation) * 4), 60%;
  --shade-50-hsl: var(--base-color), calc(var(--base-saturation) * 5), 50%;
  --shade-60-hsl: var(--base-color), calc(var(--base-saturation) * 6), 40%;
  --shade-70-hsl: var(--base-color), calc(var(--base-saturation) * 7), 30%;
  --shade-80-hsl: var(--base-color), calc(var(--base-saturation) * 8), 20%;
  --shade-90-hsl: var(--base-color), calc(var(--base-saturation) * 9), 10%;
  --shade-100-hsl: var(--base-color), 100%, 0%;

  --shifting-shade-0-hsl: var(--shade-0-hsl);
  --shifting-shade-10-hsl: var(--shade-10-hsl);
  --shifting-shade-20-hsl: var(--shade-20-hsl);
  --shifting-shade-30-hsl: var(--shade-30-hsl);
  --shifting-shade-40-hsl: var(--shade-40-hsl);
  --shifting-shade-50-hsl: var(--shade-50-hsl);
  --shifting-shade-60-hsl: var(--shade-60-hsl);
  --shifting-shade-70-hsl: var(--shade-70-hsl);
  --shifting-shade-80-hsl: var(--shade-80-hsl);
  --shifting-shade-90-hsl: var(--shade-90-hsl);
  --shifting-shade-100-hsl: var(--shade-100-hsl);

  --shade-0: hsl(var(--shade-0-hsl));
  --shade-10: hsl(var(--shade-10-hsl));
  --shade-20: hsl(var(--shade-20-hsl));
  --shade-30: hsl(var(--shade-30-hsl));
  --shade-40: hsl(var(--shade-40-hsl));
  --shade-50: hsl(var(--shade-50-hsl));
  --shade-60: hsl(var(--shade-60-hsl));
  --shade-70: hsl(var(--shade-70-hsl));
  --shade-80: hsl(var(--shade-80-hsl));
  --shade-90: hsl(var(--shade-90-hsl));
  --shade-100: hsl(var(--shade-100-hsl));

  --shifting-shade-0: hsl(var(--shifting-shade-0-hsl));
  --shifting-shade-10: hsl(var(--shifting-shade-10-hsl));
  --shifting-shade-20: hsl(var(--shifting-shade-20-hsl));
  --shifting-shade-30: hsl(var(--shifting-shade-30-hsl));
  --shifting-shade-40: hsl(var(--shifting-shade-40-hsl));
  --shifting-shade-50: hsl(var(--shifting-shade-50-hsl));
  --shifting-shade-60: hsl(var(--shifting-shade-60-hsl));
  --shifting-shade-70: hsl(var(--shifting-shade-70-hsl));
  --shifting-shade-80: hsl(var(--shifting-shade-80-hsl));
  --shifting-shade-90: hsl(var(--shifting-shade-90-hsl));
  --shifting-shade-100: hsl(var(--shifting-shade-100-hsl));

  --brand-1: hsl(164, 100%, 45%);

  --good: #50d38d;
  --warn: #fdc300;
  --bad: #f60d21;

  --text-color: var(--shifting-shade-90);
  --text-color-alt: var(--shifting-shade-10);

  --background: var(--shifting-shade-10);
  --background-alt: var(--shifting-shade-90);

  --border-color: var(--shifting-shade-20);

  --site-gutter: var(--spacing-m);

  --site-width: calc(72rem + (var(--site-gutter) * 2));
  --content-width: calc(50rem + (var(--site-gutter) * 2));
  --para-width: calc(42rem + (var(--site-gutter) * 2));

  --header-height: 5rem;

  --easing: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand-1: hsl(164, 100%, 50%);

    --shifting-shade-0-hsl: var(--shade-100-hsl);
    --shifting-shade-10-hsl: var(--shade-90-hsl);
    --shifting-shade-20-hsl: var(--shade-80-hsl);
    --shifting-shade-30-hsl: var(--shade-70-hsl);
    --shifting-shade-40-hsl: var(--shade-60-hsl);
    --shifting-shade-60-hsl: var(--shade-40-hsl);
    --shifting-shade-70-hsl: var(--shade-30-hsl);
    --shifting-shade-80-hsl: var(--shade-20-hsl);
    --shifting-shade-90-hsl: var(--shade-10-hsl);
    --shifting-shade-100-hsl: var(--shade-0-hsl);
  }
}